<h1>Editing objective</h1>

<%= render 'form' %>

<%= link_to 'Show', @objective %> |
<%= link_to 'Back', dashboard_path %>
<%= link_to 'Destroy', @objective, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? && @objective.user_id == current_user.id %>

